@model MyNUnitWeb.Models.UploadAssembliesModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <title>Testing</title>
</head>
<body>

    <form asp-action="Upload" enctype="multipart/form-data" method="post">
        <input type="file" asp-for="Assymblies" multiple>
        <input type="submit" value="Начать тестирование">
        <div>
            <a asp-action="GetHistory">See history of testing</a>
        </div>
    </form>
</body>
</html>